Repository illionillion/mermaid-editor: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: npx eslint --fix {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

docs: スライド作成
  slide/image1.png
  slide/image2.png
  slide/image3.png
  slide/lt-slides.md
Due: format

docs: deploy to GitHub Pages
  docs/404.html
  docs/404/index.html
  docs/_next/static/9wiayrNfV9gBxNt1VKUFc/_buildManifest.js
  docs/_next/static/9wiayrNfV9gBxNt1VKUFc/_ssgManifest.js
  docs/er-diagram/index.html
  docs/er-diagram/index.txt
  docs/flow-chart/index.html
  docs/flow-chart/index.txt
  docs/index.html
  docs/index.txt
  docs/storybook/project.json
Due: lint, format

fix: 改行
  slide/lt-slides.md
Due: format

docs: deploy to GitHub Pages
  docs/404.html
  docs/404/index.html
  docs/_next/static/URh2pDz5tHIEnVKRhZpQI/_buildManifest.js
  docs/_next/static/URh2pDz5tHIEnVKRhZpQI/_ssgManifest.js
  docs/er-diagram/index.html
  docs/er-diagram/index.txt
  docs/flow-chart/index.html
  docs/flow-chart/index.txt
  docs/index.html
  docs/index.txt
  docs/storybook/project.json
Due: lint, format

fix: 正規表現セクションのHTML構造を修正
  slide/lt-slides.md
Due: format

docs: deploy to GitHub Pages
  docs/404.html
  docs/404/index.html
  docs/_next/static/i_pbxQkqPvlYBxSTvUOZo/_buildManifest.js
  docs/_next/static/i_pbxQkqPvlYBxSTvUOZo/_ssgManifest.js
  docs/er-diagram/index.html
  docs/er-diagram/index.txt
  docs/flow-chart/index.html
  docs/flow-chart/index.txt
  docs/index.html
  docs/index.txt
  docs/storybook/project.json
Due: lint, format

fix: 画像コンテナのスタイルを追加し、レイアウトを調整
  slide/lt-slides.md
Due: format

docs: deploy to GitHub Pages
  docs/404.html
  docs/404/index.html
  docs/_next/static/ybRm_pEd5MI64OSM8n6ai/_buildManifest.js
  docs/_next/static/ybRm_pEd5MI64OSM8n6ai/_ssgManifest.js
  docs/er-diagram/index.html
  docs/er-diagram/index.txt
  docs/flow-chart/index.html
  docs/flow-chart/index.txt
  docs/index.html
  docs/index.txt
  docs/storybook/project.json
Due: lint, format

fix: 画像コンテナのフォントサイズと太さを調整
  slide/lt-slides.md
Due: format

docs: deploy to GitHub Pages
  docs/404.html
  docs/404/index.html
  docs/_next/static/HCw9t8GHzRYXCSXYGyU6E/_buildManifest.js
  docs/_next/static/HCw9t8GHzRYXCSXYGyU6E/_ssgManifest.js
  docs/er-diagram/index.html
  docs/er-diagram/index.txt
  docs/flow-chart/index.html
  docs/flow-chart/index.txt
  docs/index.html
  docs/index.txt
  docs/storybook/project.json
Due: lint, format

fix: Storybookの設定を@storybook/react-viteから@storybook/nextjs-viteに変更
  .storybook/main.ts
Due: lint, format

docs: deploy to GitHub Pages
  docs/404.html
  docs/404/index.html
  docs/_next/static/ph_2QlmXIr4H9Zo2QUQkN/_buildManifest.js
  docs/_next/static/ph_2QlmXIr4H9Zo2QUQkN/_ssgManifest.js
  docs/er-diagram/index.html
  docs/er-diagram/index.txt
  docs/flow-chart/index.html
  docs/flow-chart/index.txt
  docs/index.html
  docs/index.txt
  docs/storybook/project.json
Due: lint, format

fix: Storybookの設定を@storybook/react-viteから@storybook/nextjs-viteに変更
  .storybook/preview.tsx
  .storybook/vitest.setup.ts
Due: lint, format

docs: deploy to GitHub Pages
  docs/404.html
  docs/404/index.html
  docs/_next/static/Axg9dl_prx0JepZFUF5rQ/_buildManifest.js
  docs/_next/static/Axg9dl_prx0JepZFUF5rQ/_ssgManifest.js
  docs/_next/static/chunks/app/er-diagram/page-1e7edb8f3d9314f4.js
  docs/er-diagram/index.html
  docs/er-diagram/index.txt
  docs/flow-chart/index.html
  docs/flow-chart/index.txt
  docs/index.html
  docs/index.txt
  docs/storybook/project.json
Due: lint, format

fix: タグのみ追加
  features/flowchart/stories/flow/arrow-type-selector.stories.tsx
Due: lint, format

chore: vrtタグによるスナップショット対象絞り込み設定を追加
  .storybook/test-runner.js
Due: lint, format

feat: 必要なstoryにvrtタグを追加してスナップショット対象を最適化
  features/er-diagram/stories/er-diagram-mermaid-modal.stories.tsx
  features/er-diagram/stories/er-diagram-panel.stories.tsx
  features/er-diagram/stories/er-editable-edge.stories.tsx
  features/er-diagram/stories/er-table-content.stories.tsx
  features/flowchart/stories/flow/arrow-type-selector.stories.tsx
  features/flowchart/stories/flow/edge-content.stories.tsx
  features/flowchart/stories/flow/flow-panel.stories.tsx
  features/flowchart/stories/mermaid/download-modal.stories.tsx
  features/flowchart/stories/mermaid/import-modal.stories.tsx
  features/flowchart/stories/node/node-content.stories.tsx
  features/flowchart/stories/node/node-menu.stories.tsx
  stories/components/ui/contribution-panel.stories.tsx
Due: lint, format

docs: vrtタグ運用ルールをドキュメントに追加
  .github/copilot-instructions.md
  TESTING.md
Due: format

test: vrtスナップショットを更新（不要な2つを削除）
  __image_snapshots__/components-er-erdiagrammermaidmodal--default.png
  __image_snapshots__/components-flow-flowpanel--default.png
  __image_snapshots__/components-mermaid-downloadmodal--default.png
  __image_snapshots__/components-mermaid-importmodal--default.png
  __image_snapshots__/components-ui-contributionpanel--default.png
  __image_snapshots__/components-ui-copybutton--default.png
Due: none

refactor: tagsプロパティをrenderの前に配置
  features/flowchart/stories/flow/arrow-type-selector.stories.tsx
Due: lint, format

feat: `ContributionPanel`のDefaultストーリーにvrtタグを追加
  __image_snapshots__/components-ui-contributionpanel--default.png
  stories/components/ui/contribution-panel.stories.tsx
Due: lint, format

refactor: er-diagram-panelに型定義を追加
  features/er-diagram/stories/er-diagram-panel.stories.tsx
Due: lint, format

docs: test-runnerにvrtタグフィルタリングの説明コメントを追加
  .storybook/test-runner.js
Due: lint, format

Path conditions:
  lint: any of: *.{js,jsx,ts,tsx}
  format: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
