Repository illionillion/mermaid-editor: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: npx eslint --fix {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

fix(ci): 権限周り修正
  .github/workflows/ci.yml
Due: format

Revert "Revert "fix: 一旦opne時のを削除""
  __image_snapshots__/components-ui-contributionpanel--opened.png
  stories/components/ui/contribution-panel.stories.tsx
Due: lint, format

feat(#45): `--ラベル-->`を対応
  features/flowchart/__tests__/utils/mermaid/parse-mermaid-code.test.ts
  features/flowchart/hooks/mermaid.ts
Due: lint, format

fix: その他記法も対応
  features/flowchart/__tests__/utils/mermaid/parse-mermaid-code.test.ts
  features/flowchart/hooks/mermaid.ts
Due: lint, format

fix: `pull_request_target`削除
  .github/workflows/ci.yml
Due: format

fix: 順番の並び替え
  features/flowchart/hooks/mermaid.ts
Due: lint, format

Update features/flowchart/hooks/mermaid.ts
  features/flowchart/hooks/mermaid.ts
Due: lint, format

fix: format
  features/flowchart/hooks/mermaid.ts
Due: lint, format

fix: 修正
  features/flowchart/hooks/mermaid.ts
Due: lint, format

docs: deploy to GitHub Pages
  docs/404.html
  docs/404/index.html
  docs/_next/static/YIMnrHK1cvEiBJNEdqPjr/_buildManifest.js
  docs/_next/static/YIMnrHK1cvEiBJNEdqPjr/_ssgManifest.js
  docs/_next/static/chunks/459-0369d611d76eb581.js
  docs/_next/static/chunks/459-c6b7ab289d1b6591.js
  docs/er-diagram/index.html
  docs/er-diagram/index.txt
  docs/flow-chart/index.html
  docs/flow-chart/index.txt
  docs/index.html
  docs/index.txt
  docs/storybook/409.7de0eb52.iframe.bundle.js
  docs/storybook/409.ff37ea4a.iframe.bundle.js
  docs/storybook/733.0b12140b.iframe.bundle.js
  docs/storybook/733.1906c6e5.iframe.bundle.js
  docs/storybook/733.1906c6e5.iframe.bundle.js.LICENSE.txt
  docs/storybook/components-mermaid-import-modal-stories.030702b7.iframe.bundle.js
  docs/storybook/components-mermaid-import-modal-stories.552b8961.iframe.bundle.js
  docs/storybook/components-node-node-content-stories.f78fbeca.iframe.bundle.js
  docs/storybook/components-node-node-content-stories.f78fbeca.iframe.bundle.js.LICENSE.txt
  docs/storybook/components-node-node-content-stories.fba8aab8.iframe.bundle.js
  docs/storybook/iframe.html
  docs/storybook/project.json
  docs/storybook/runtime~main.43530e60.iframe.bundle.js
  docs/storybook/runtime~main.6ed3e00c.iframe.bundle.js
Due: lint, format

docs: ルール追加
  .github/copilot-instructions.md
Due: format

docs: deploy to GitHub Pages
  docs/404.html
  docs/404/index.html
  docs/_next/static/QRUYgR7MNY58uOMFJMlCG/_buildManifest.js
  docs/_next/static/QRUYgR7MNY58uOMFJMlCG/_ssgManifest.js
  docs/er-diagram/index.html
  docs/er-diagram/index.txt
  docs/flow-chart/index.html
  docs/flow-chart/index.txt
  docs/index.html
  docs/index.txt
  docs/storybook/project.json
Due: lint, format

docs: deploy to GitHub Pages
  docs/404.html
  docs/404/index.html
  docs/_next/static/Td0zEdvejOfIJHBvKorbW/_buildManifest.js
  docs/_next/static/Td0zEdvejOfIJHBvKorbW/_ssgManifest.js
  docs/er-diagram/index.html
  docs/er-diagram/index.txt
  docs/flow-chart/index.html
  docs/flow-chart/index.txt
  docs/index.html
  docs/index.txt
  docs/storybook/project.json
Due: lint, format

fix: スペースなしも対応
  features/flowchart/__tests__/utils/mermaid/parse-mermaid-code.test.ts
  features/flowchart/hooks/mermaid.ts
Due: lint, format

docs: ルール強化
  .github/copilot-instructions.md
Due: format

chore: `import type`強制
  eslint.config.ts
Due: lint, format

fix: 点線も対応
  features/flowchart/__tests__/utils/mermaid/parse-mermaid-code.test.ts
  features/flowchart/hooks/mermaid.ts
Due: lint, format

fix: 太い矢印対応
  features/flowchart/__tests__/utils/mermaid/parse-mermaid-code.test.ts
  features/flowchart/hooks/mermaid.ts
Due: lint, format

fix: 双方向矢印対応
  features/flowchart/__tests__/utils/mermaid/parse-mermaid-code.test.ts
  features/flowchart/hooks/mermaid.ts
Due: lint, format

format: 修正
  features/flowchart/__tests__/utils/mermaid/parse-mermaid-code.test.ts
  features/flowchart/hooks/mermaid.ts
Due: lint, format

docs: deploy to GitHub Pages
  docs/404.html
  docs/404/index.html
  docs/_next/static/chunks/459-0369d611d76eb581.js
  docs/_next/static/chunks/459-bcfa18b4bcbfec1e.js
  docs/_next/static/jEWOF165ByxyjgpGvynw5/_buildManifest.js
  docs/_next/static/jEWOF165ByxyjgpGvynw5/_ssgManifest.js
  docs/er-diagram/index.html
  docs/er-diagram/index.txt
  docs/flow-chart/index.html
  docs/flow-chart/index.txt
  docs/index.html
  docs/index.txt
  docs/storybook/409.58d59da6.iframe.bundle.js
  docs/storybook/409.ff37ea4a.iframe.bundle.js
  docs/storybook/733.1906c6e5.iframe.bundle.js
  docs/storybook/733.9131870c.iframe.bundle.js
  docs/storybook/733.9131870c.iframe.bundle.js.LICENSE.txt
  docs/storybook/components-mermaid-import-modal-stories.030702b7.iframe.bundle.js
  docs/storybook/components-mermaid-import-modal-stories.91a01cd9.iframe.bundle.js
  docs/storybook/components-node-node-content-stories.f78fbeca.iframe.bundle.js
  docs/storybook/components-node-node-content-stories.f941d4b3.iframe.bundle.js
  docs/storybook/components-node-node-content-stories.f941d4b3.iframe.bundle.js.LICENSE.txt
  docs/storybook/iframe.html
  docs/storybook/project.json
  docs/storybook/runtime~main.43530e60.iframe.bundle.js
  docs/storybook/runtime~main.b32d070a.iframe.bundle.js
Due: lint, format

fix: story移動
  features/flowchart/stories/flow/arrow-type-selector.stories.tsx
  features/flowchart/stories/flow/edge-content.stories.tsx
  features/flowchart/stories/flow/flow-panel.stories.tsx
  features/flowchart/stories/mermaid/download-modal.stories.tsx
  features/flowchart/stories/mermaid/import-modal.stories.tsx
  features/flowchart/stories/node/node-content.stories.tsx
  features/flowchart/stories/node/node-menu.stories.tsx
Due: lint, format

docs: deploy to GitHub Pages
  docs/404.html
  docs/404/index.html
  docs/_next/static/ijuOfgzJPZKCm1BqZuEmR/_buildManifest.js
  docs/_next/static/ijuOfgzJPZKCm1BqZuEmR/_ssgManifest.js
  docs/er-diagram/index.html
  docs/er-diagram/index.txt
  docs/flow-chart/index.html
  docs/flow-chart/index.txt
  docs/index.html
  docs/index.txt
  docs/storybook/components-flow-arrow-type-selector-stories.fbaeacd5.iframe.bundle.js
  docs/storybook/components-flow-edge-content-stories.eb75cdf4.iframe.bundle.js
  docs/storybook/components-flow-flow-panel-stories.d71e0de6.iframe.bundle.js
  docs/storybook/components-mermaid-download-modal-stories.29bd4c8f.iframe.bundle.js
  docs/storybook/components-mermaid-import-modal-stories.91a01cd9.iframe.bundle.js
  docs/storybook/components-node-node-content-stories.f941d4b3.iframe.bundle.js
  docs/storybook/components-node-node-menu-stories.536bc704.iframe.bundle.js
  docs/storybook/flowchart-stories-flow-arrow-type-selector-stories.46c0caa5.iframe.bundle.js
  docs/storybook/flowchart-stories-flow-arrow-type-selector-stories.46c0caa5.iframe.bundle.js.LICENSE.txt
  docs/storybook/flowchart-stories-flow-edge-content-stories.96c66357.iframe.bundle.js
  docs/storybook/flowchart-stories-flow-flow-panel-stories.542748c5.iframe.bundle.js
  docs/storybook/flowchart-stories-flow-flow-panel-stories.542748c5.iframe.bundle.js.LICENSE.txt
  docs/storybook/flowchart-stories-mermaid-download-modal-stories.d3a1c501.iframe.bundle.js
  docs/storybook/flowchart-stories-mermaid-import-modal-stories.327aaa67.iframe.bundle.js
  docs/storybook/flowchart-stories-node-node-content-stories.4b9387b8.iframe.bundle.js
  docs/storybook/flowchart-stories-node-node-content-stories.4b9387b8.iframe.bundle.js.LICENSE.txt
  docs/storybook/flowchart-stories-node-node-menu-stories.12c18e5f.iframe.bundle.js
  docs/storybook/flowchart-stories-node-node-menu-stories.12c18e5f.iframe.bundle.js.LICENSE.txt
  docs/storybook/iframe.html
  docs/storybook/index.json
  docs/storybook/main.8f30eb7a.iframe.bundle.js
  docs/storybook/main.a32762a7.iframe.bundle.js
  docs/storybook/project.json
  docs/storybook/runtime~main.93af28b2.iframe.bundle.js
  docs/storybook/runtime~main.b32d070a.iframe.bundle.js
Due: lint, format

fix: 時間短縮のためにDockerfileの依存関係インストールを修正
  Dockerfile.vrt
Due: none

Update Dockerfile.vrt
  Dockerfile.vrt
Due: none

docs: deploy to GitHub Pages
  docs/404.html
  docs/404/index.html
  docs/_next/static/aLYYT3zfC0gzUTef2CWTo/_buildManifest.js
  docs/_next/static/aLYYT3zfC0gzUTef2CWTo/_ssgManifest.js
  docs/er-diagram/index.html
  docs/er-diagram/index.txt
  docs/flow-chart/index.html
  docs/flow-chart/index.txt
  docs/index.html
  docs/index.txt
  docs/storybook/project.json
Due: lint, format

ci: イメージをキャッシュするように変更
  .github/workflows/ci.yml
Due: format

Revert "ci: イメージをキャッシュするように変更"
  .github/workflows/ci.yml
Due: format

fix: 書く位置がおかしかったので修正
  .github/workflows/ci.yml
Due: format

ci(fix): 権限を明示的に指定
  .github/workflows/ci.yml
Due: format

fix: キャッシュの仕方を変更
  .github/workflows/ci.yml
Due: format

Revert "fix: キャッシュの仕方を変更"
  .github/workflows/ci.yml
Due: format

ci(fix): ちゃんとキャッシュするように修正
  .github/workflows/ci.yml
Due: format

fix: ci用のcompose.ymlを作成
  .github/workflows/ci.yml
  compose.vrt.ci.yml
Due: format

docs: deploy to GitHub Pages
  docs/404.html
  docs/404/index.html
  docs/_next/static/chunks/app/layout-08f6b22594c73f76.js
  docs/_next/static/chunks/app/layout-d48eb25ece5caf9f.js
  docs/_next/static/chunks/webpack-eb330cb6d82b2621.js
  docs/_next/static/chunks/webpack-faf363df16b56a4b.js
  docs/_next/static/css/1f8da978715c5fd2.css
  docs/_next/static/media/19cfc7226ec3afaa-s.woff2
  docs/_next/static/media/21350d82a1f187e9-s.woff2
  docs/_next/static/media/26a46d62cd723877-s.woff2
  docs/_next/static/media/55c55f0601d81cf3-s.woff2
  docs/_next/static/media/581909926a08bbc8-s.woff2
  docs/_next/static/media/97e0cb1ae144a2a9-s.woff2
  docs/_next/static/media/ba9851c3c22cd980-s.woff2
  docs/_next/static/media/c5fe6dc8356a8c31-s.woff2
  docs/_next/static/vlWXlj01-zLVGwKLpokcA/_buildManifest.js
  docs/_next/static/vlWXlj01-zLVGwKLpokcA/_ssgManifest.js
  docs/er-diagram/index.html
  docs/er-diagram/index.txt
  docs/flow-chart/index.html
  docs/flow-chart/index.txt
  docs/index.html
  docs/index.txt
  docs/storybook/project.json
Due: lint, format

ci(fix): ワークフローを分割
  .github/actions/build/action.yml
  .github/actions/e2e-test/action.yml
  .github/actions/quality-check/action.yml
  .github/actions/unit-test/action.yml
  .github/actions/vrt-test/action.yml
  .github/workflows/ci.yml
Due: format

Path conditions:
  lint: any of: *.{js,jsx,ts,tsx}
  format: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
