Repository illionillion/mermaid-editor: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: npx eslint --fix {staged_files}
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

docs: テンプレート追加
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/other.yml
  .github/pull_request_template.md
Due: format

docs: deploy to GitHub Pages
  docs/404.html
  docs/404/index.html
  docs/_next/static/ajsSUaeN4lUh-eh-3ZRl0/_buildManifest.js
  docs/_next/static/ajsSUaeN4lUh-eh-3ZRl0/_ssgManifest.js
  docs/er-diagram/index.html
  docs/er-diagram/index.txt
  docs/flow-chart/index.html
  docs/flow-chart/index.txt
  docs/index.html
  docs/index.txt
  docs/storybook/project.json
Due: lint, format

feat: リンクからメニュー化
  components/ui/contribution-panel.tsx
  features/flowchart/__tests__/components/flow/panel-content.test.tsx
Due: lint, format

fix: 最小w指定
  features/er-diagram/components/node/er-table-content.tsx
Due: lint, format

ci: vrt導入
  .github/workflows/ci.yml
  .storybook/test-runner.js
  __image_snapshots__/components-er-erdiagrammermaidmodal--default.png
  __image_snapshots__/components-er-erdiagrampanel--default.png
  __image_snapshots__/components-er-ertablecontent--default.png
  __image_snapshots__/components-flow-arrowtypeselector--default.png
  __image_snapshots__/components-flow-edgecontent--default.png
  __image_snapshots__/components-flow-flowpanel--default.png
  __image_snapshots__/components-mermaid-downloadmodal--default.png
  __image_snapshots__/components-mermaid-importmodal--default.png
  __image_snapshots__/components-node-nodecontent--default.png
  __image_snapshots__/components-node-nodemenu--default.png
  __image_snapshots__/components-ui-copybutton--default.png
  package.json
  pnpm-lock.yaml
Due: lint, format

fix: 修正
  .github/workflows/ci.yml
Due: format

fix: os変更
  .github/workflows/ci.yml
Due: format

fix: 許容値下げた
  .storybook/test-runner.js
Due: lint, format

feat: docker設定追加
  .dockerignore
  .github/workflows/ci.yml
  .storybook/test-runner.js
  Dockerfile.vrt
  compose.vrt.yml
  package.json
Due: lint, format

chore: スナップショットをDockerで撮ったものに更新
  __image_snapshots__/components-er-erdiagrammermaidmodal--default.png
  __image_snapshots__/components-er-erdiagrampanel--default.png
  __image_snapshots__/components-er-ertablecontent--default.png
  __image_snapshots__/components-flow-arrowtypeselector--default.png
  __image_snapshots__/components-flow-edgecontent--default.png
  __image_snapshots__/components-flow-flowpanel--default.png
  __image_snapshots__/components-mermaid-downloadmodal--default.png
  __image_snapshots__/components-mermaid-importmodal--default.png
  __image_snapshots__/components-node-nodecontent--default.png
Due: none

ci(fix): イメージのみ変更
  .github/workflows/ci.yml
Due: format

fix(ci): gitのインストール追加
  .github/workflows/ci.yml
Due: format

fix(ci): gitのコマンド修正
  .github/workflows/ci.yml
Due: format

fix: docker内で実行するように修正
  .github/workflows/ci.yml
Due: format

fix: storybook起動するように修正
  .github/workflows/ci.yml
Due: format

fix: docker内でstorybook起動するように修正
  .github/workflows/ci.yml
  Dockerfile.vrt
  compose.vrt.yml
  package.json
Due: format

fix: コマンドで起動するように修正
  .github/workflows/ci.yml
Due: format

fix: 待ち追加
  .github/workflows/ci.yml
Due: format

fix: タイムアウト延長
  .github/workflows/ci.yml
Due: format

fix: 不要部分削除
  .storybook/test-runner.js
Due: lint, format

docs(fix): vrtのドキュメントを追加
  DEVELOPMENT.md
Due: format

docs: deploy to GitHub Pages
  docs/404.html
  docs/404/index.html
  docs/_next/static/UpYvp_koFIbEjKDoRrzle/_buildManifest.js
  docs/_next/static/UpYvp_koFIbEjKDoRrzle/_ssgManifest.js
  docs/er-diagram/index.html
  docs/er-diagram/index.txt
  docs/flow-chart/index.html
  docs/flow-chart/index.txt
  docs/index.html
  docs/index.txt
  docs/storybook/project.json
Due: lint, format

story: story追加
  features/er-diagram/stories/er-editable-edge.stories.tsx
Due: lint, format

fix: フォーマット
  features/er-diagram/stories/er-editable-edge.stories.tsx
Due: lint, format

test(vrt): 画像追加
  __image_snapshots__/er-ereditableedge--default.png
  __image_snapshots__/er-ereditableedge--editing.png
Due: none

docs: deploy to GitHub Pages
  docs/404.html
  docs/404/index.html
  docs/_next/static/lBthm8wF3HasOCABSDjTg/_buildManifest.js
  docs/_next/static/lBthm8wF3HasOCABSDjTg/_ssgManifest.js
  docs/er-diagram/index.html
  docs/er-diagram/index.txt
  docs/flow-chart/index.html
  docs/flow-chart/index.txt
  docs/index.html
  docs/index.txt
  docs/storybook/er-diagram-stories-er-editable-edge-stories.54bd6b82.iframe.bundle.js
  docs/storybook/er-diagram-stories-er-editable-edge-stories.54bd6b82.iframe.bundle.js.LICENSE.txt
  docs/storybook/iframe.html
  docs/storybook/index.json
  docs/storybook/main.607e42ac.iframe.bundle.js
  docs/storybook/main.f6fc4f20.iframe.bundle.js
  docs/storybook/project.json
  docs/storybook/runtime~main.117e5306.iframe.bundle.js
  docs/storybook/runtime~main.1c97d280.iframe.bundle.js
Due: lint, format

docs(story): story作成
  stories/components/ui/contribution-panel.stories.tsx
Due: lint, format

fix: ライブラリ追加
  package.json
  pnpm-lock.yaml
Due: format

docs: makefile作成
  DEVELOPMENT.md
  Makefile
Due: format

test: vrtスナップショット追加
  __image_snapshots__/components-ui-contributionpanel--default.png
  __image_snapshots__/components-ui-contributionpanel--opened.png
Due: none

fix: 一旦opne時のを削除
  __image_snapshots__/components-ui-contributionpanel--opened.png
  stories/components/ui/contribution-panel.stories.tsx
Due: lint, format

fix: 並列で実行するように修正
  .github/workflows/ci.yml
Due: format

docs: deploy to GitHub Pages
  docs/404.html
  docs/404/index.html
  docs/_next/static/clvDaeL5zcldfFr7hOWaQ/_buildManifest.js
  docs/_next/static/clvDaeL5zcldfFr7hOWaQ/_ssgManifest.js
  docs/er-diagram/index.html
  docs/er-diagram/index.txt
  docs/flow-chart/index.html
  docs/flow-chart/index.txt
  docs/index.html
  docs/index.txt
  docs/storybook/432.db3dc729.iframe.bundle.js
  docs/storybook/432.db3dc729.iframe.bundle.js.LICENSE.txt
  docs/storybook/432.f4904a59.iframe.bundle.js
  docs/storybook/components-ui-contribution-panel-stories.81a9ba36.iframe.bundle.js
  docs/storybook/components-ui-contribution-panel-stories.81a9ba36.iframe.bundle.js.LICENSE.txt
  docs/storybook/er-diagram-stories-er-diagram-mermaid-modal-stories.2b01874d.iframe.bundle.js
  docs/storybook/er-diagram-stories-er-diagram-mermaid-modal-stories.c399efa3.iframe.bundle.js
  docs/storybook/er-diagram-stories-er-diagram-panel-stories.2242b5fa.iframe.bundle.js
  docs/storybook/er-diagram-stories-er-diagram-panel-stories.2242b5fa.iframe.bundle.js.LICENSE.txt
  docs/storybook/er-diagram-stories-er-diagram-panel-stories.daecd511.iframe.bundle.js
  docs/storybook/iframe.html
  docs/storybook/index.json
  docs/storybook/main.d305eae5.iframe.bundle.js
  docs/storybook/main.f6fc4f20.iframe.bundle.js
  docs/storybook/project.json
  docs/storybook/runtime~main.117e5306.iframe.bundle.js
  docs/storybook/runtime~main.c00ccffa.iframe.bundle.js
Due: lint, format

chore(storybook): バージョンアップ
  package.json
  pnpm-lock.yaml
Due: format

fix: importその他修正
  .storybook/main.ts
  .storybook/manager.ts
  .storybook/preview.tsx
  features/er-diagram/stories/er-diagram-mermaid-modal.stories.tsx
  features/er-diagram/stories/er-editable-edge.stories.tsx
  features/er-diagram/stories/er-table-content.stories.tsx
  stories/components/flow/arrow-type-selector.stories.tsx
  stories/components/flow/edge-content.stories.tsx
  stories/components/flow/flow-panel.stories.tsx
  stories/components/mermaid/download-modal.stories.tsx
  stories/components/mermaid/import-modal.stories.tsx
  stories/components/node/node-content.stories.tsx
  stories/components/node/node-menu.stories.tsx
  stories/components/ui/contribution-panel.stories.tsx
  stories/components/ui/copy-button.stories.tsx
Due: lint, format

ci: vrtのdiffをアーティファクトとして保存しコメントするように修正
  .github/workflows/ci.yml
Due: format

Revert "fix: 一旦opne時のを削除"
  __image_snapshots__/components-ui-contributionpanel--opened.png
  stories/components/ui/contribution-panel.stories.tsx
Due: lint, format

Path conditions:
  lint: any of: *.{js,jsx,ts,tsx}
  format: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
